<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div style="margin:120px; font-family: Arial, sans-serif;">
    <div style="margin-bottom: 20px; text-align: center;">
        <h1 style="color: #333;">주간 뉴스레터</h1>
        <p style="color: #666;">구독자님, 이번 주 최신 소식을 전해드립니다!</p>
    </div>

    <!-- 뉴스 1 -->
    <div style="border-bottom: 1px solid #ddd; padding-bottom: 20px; margin-bottom: 20px;">
        <h2 th:text="${newsTitle1}" style="color: rgba(115, 167, 72, 1);"></h2>
        <div style="text-align: center;">
        </div>
        <p th:text="${newsContent1}" style="color: #333; margin-top: 10px;"></p>
        <a th:href="${newsLink1}" style="color: #1e90ff; text-decoration: none;">더 읽기</a>
    </div>

    <!-- 뉴스 2 -->
    <div style="border-bottom: 1px solid #ddd; padding-bottom: 20px; margin-bottom: 20px;">
        <h2 th:text="${newsTitle2}" style="color: rgba(115, 167, 72, 1);"></h2>
        <div style="text-align: center;">
        </div>
        <p th:text="${newsContent2}" style="color: #333; margin-top: 10px;"></p>
        <a th:href="${newsLink2}" style="color: #1e90ff; text-decoration: none;">더 읽기</a>
    </div>

    <!-- 뉴스 3  <a th:href="@{/unsubscribe}" style="color: green;">여기</a>를 클릭하세요.-->
    <div style="padding-bottom: 20px; margin-bottom: 20px;">
        <h2 th:text="${newsTitle3}" style="color: rgba(115, 167, 72, 1);"></h2>
        <div style="text-align: center;">
        </div>
        <p th:text="${newsContent3}" style="color: #333; margin-top: 10px;"></p>
        <a th:href="${newsLink3}" style="color: #1e90ff; text-decoration: none;">더 읽기</a>
    </div>

    <div style="text-align: center; margin-top: 40px; color: #666;">
        <p>이 메일은 자동 발송된 메일입니다. 답장하지 말아주세요.</p>
        <p>뉴스레터 구독을 취소하시려면 </p>
    </div>
</div>
</body>
</html>
